{% extends 'layouts/layout.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <h1>{{ title }}</h1>

    {{ register_form.errors }}

    <form action="" method="post">
        {% csrf_token %}

        {% comment %} {{ register_form.as_p }} {% endcomment %}

        {% for field in register_form %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success">Registrarse</button>
    </form>
{% endblock content %}