<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        <!-- Titulo de cada pagina -->
        {% endblock title %} | Django con Python
    </title>

    {% load static %}

    {% comment %} CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/animate/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <!-- Cabecera de la pagina -->
    <header>
        <div id="logotipo">
            <img src="{% static 'img/logo.png' %}" alt="">
            <h1>Proyecto con con Django</h1>
        </div>
    </header>

    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'about' %}">Sobre nosotros</a>
            </li>
            {% for page in pages %}
                <li>
                    <a href="{% url 'page' page.2 %}">{{ page.1 }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="{% url 'list_articles' %}">Categorías</a>
                <ul>
                    <li><a href="{% url 'list_articles' %}">Categoría 1</a></li>
                    <li><a href="{% url 'list_articles' %}">Categoría 2</a></li>
                    <li><a href="{% url 'list_articles' %}">Categoría 3</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="content">
        <div class="box">
            {% block content %}
                <!-- Codigo que viene de la template -->
                <strong>Contenido del bloque original!!</strong> 
            {% endblock content %}
        </div>
    </div>

    <footer>
        Master en Python &copy; Giovanni - {% now "d/m/Y h:m:s" %}
    </footer>

    {% comment %} JS {% endcomment %}
    <script src="{% static 'libs/jquery/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'libs/popper/popper.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>